<div class="screen blog-screen">
    @@include('../layout/_filters.html')
    <div class="blog-screen__content">
        <div class="blog-screen__column">
            <Post class="blog-screen__column__item" v-for="(post,index) in posts" :key="`post-1-${index}`" v-bind="post"/>
        </div>
        <div class="blog-screen__column">
            <Post class="blog-screen__column__item" v-for="(post,index) in posts" :key="`post-2-${index}`" v-bind="post"/>
        </div>
        <div class="blog-screen__column">
            <Post class="blog-screen__column__item" v-for="(post,index) in posts" :key="`post-3-${index}`" v-bind="post"/>
        </div>
    </div>
</div>