@font-face {
  font-family: 'Stratos LC Light';
  src: url('../../assets/fonts/StratosLCWeb/StratosLCWeb-Light.eot');
  src: local('Stratos LC Web Light'), local('StratosLCWeb-Light'),
  url('../../assets/fonts/StratosLCWeb/StratosLCWeb-Light.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/StratosLCWeb/StratosLCWeb-Light.woff2') format('woff2'),
  url('../../assets/fonts/StratosLCWeb/StratosLCWeb-Light.woff') format('woff'),
  url('../../assets/fonts/StratosLCWeb/StratosLCWeb-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Stratos LC Semibold';
  src: url('../../assets/fonts/StratosLCWeb/StratosLCWeb-Semibold.eot');
  src: local('Stratos LC Web Semibold'), local('StratosLCWeb-Semibold'),
  url('../../assets/fonts/StratosLCWeb/StratosLCWeb-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/StratosLCWeb/StratosLCWeb-Semibold.woff2') format('woff2'),
  url('../../assets/fonts/StratosLCWeb/StratosLCWeb-Semibold.woff') format('woff'),
  url('../../assets/fonts/StratosLCWeb/StratosLCWeb-Semibold.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Stratos LC Bold';
  src: url('../../assets/fonts/StratosLCWeb/StratosLCWeb-Bold.eot');
  src: local('Stratos LC Web Bold'), local('StratosLCWeb-Bold'),
  url('../../assets/fonts/StratosLCWeb/StratosLCWeb-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/StratosLCWeb/StratosLCWeb-Bold.woff2') format('woff2'),
  url('../../assets/fonts/StratosLCWeb/StratosLCWeb-Bold.woff') format('woff'),
  url('../../assets/fonts/StratosLCWeb/StratosLCWeb-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Stratos LC Medium';
  src: url('../../assets/fonts/StratosLCWeb/StratosLCWeb-Medium.eot');
  src: local('Stratos LC Web Medium'), local('StratosLCWeb-Medium'),
  url('../../assets/fonts/StratosLCWeb/StratosLCWeb-Medium.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/StratosLCWeb/StratosLCWeb-Medium.woff2') format('woff2'),
  url('../../assets/fonts/StratosLCWeb/StratosLCWeb-Medium.woff') format('woff'),
  url('../../assets/fonts/StratosLCWeb/StratosLCWeb-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Stratos LC Regular';
  src: url('../../assets/fonts/StratosLCWeb/StratosLCWeb-Regular.eot');
  src: local('Stratos LC Web'), local('StratosLCWeb-Regular'),
  url('../../assets/fonts/StratosLCWeb/StratosLCWeb-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/StratosLCWeb/StratosLCWeb-Regular.woff2') format('woff2'),
  url('../../assets/fonts/StratosLCWeb/StratosLCWeb-Regular.woff') format('woff'),
  url('../../assets/fonts/StratosLCWeb/StratosLCWeb-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Stratos LC Black';
  src: url('../../assets/fonts/StratosLCWeb/StratosLCWeb-Black-second.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}