.footer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;

  &__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: $notebook_start;
    @media screen and (max-width: $notebook_start) {
      padding-top: auto-calculate($notebook_start, $phone_start, 60px, 30px);
      padding-bottom: auto-calculate($notebook_start, $phone_start, 60px, 30px);
    }

    @media screen and (max-width: $phone_start) {

      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  @media screen and (max-width: $phone_start) {
    justify-content: space-between;
    grid-gap: 27px;
    flex-wrap: wrap;
  }

  &__logo {
    display: flex;
    fill: $GREEN;
  }

  &__socials {
    display: flex;
    gap: 16px;
    @media screen and (max-width: $notebook) {
      gap: 10px;
    }

    &__item {
      width: 44px;
      height: 44px;
      background-color: $GREEN;
      border-radius: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      fill: $IVORY;
      @media screen and (max-width: $notebook) {
        width: 40px;
        height: 40px;
        &__icon {
          transform: scale(0.8);
        }
      }
      @media screen and (max-width: $tablet) {
        width: 35px;
        height: 35px;
        &__icon {
          transform: scale(0.7);
        }
      }
      @media screen and (max-width: $phone_start) {
        width: 32px;
        height: 32px;
        &__icon {
          transform: scale(0.72);
        }
      }
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 6px;

    &__item {
      font-family: 'Stratos LC Bold', sans-serif;
      font-style: normal;
      font-weight: 700;
      line-height: 110%;
      white-space: nowrap;
      @extend .adaptive_16px;
      text-align: right;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      text-decoration: none;
      color: $GREEN;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}