.navigation {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding-top: 19px !important;
    z-index: $navigation_z;
    top: 0;
    position: sticky;
    @media screen and (max-width: $notebook_start) {
      padding-top: 17px !important;
    }
    @media screen and (max-width: $notebook) {
      padding-top: 15px !important;
    }
    @media screen and (max-width: $tablet) {
      padding-top: 13px !important;
    }
    @media screen and (max-width: $tablet_end) {
      padding: 22px 20px 10px !important;
      background-color: $IVORY;
    }

    &.fixed {
      position: fixed;
    }

    &.back-transparent {
      background-color: transparent !important;
    }

    &.back-green {
      background-color: $GREEN !important;
    }

    &.back-white {
      background-color: $IVORY !important;
    }
  }

  &__wrapper.white & {
    background-color: transparent;
    &__menu {
      &__button {
        color: $IVORY !important;
      }
    }

    &__button {
      background-color: $IVORY !important;
      color: $GREEN !important;
    }
  }

  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  max-width: $maxwidth;

  @media screen and (max-width: $tablet_end) {
    align-items: center;
    justify-content: space-between;
  }

  &__menu {
    width: max-content;
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    box-sizing: content-box;
    margin-top: 30px;
    overflow: hidden;
    border-radius: 2px;
    @media screen and (max-width: $tablet_end) {
      align-items: flex-start;
    }

    @media screen and (max-width: $tablet_end) {
      margin-top: 0 !important;
    }

    &__button {
      color: $GREEN;
    }

    &__link {
      color: rgba($IVORY, .60);
      transition: $TRANSITION;

      &:hover {
        color: $IVORY;
      }
    }

    &__links {
      @media screen and (max-width: $tablet_end) {
        align-items: flex-start;
        display: none;
      }
      margin-top: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 16px;
      height: 0;
      box-sizing: content-box;
    }
  }

  &__button {
    position: absolute;
    right: 20px;
    top: 20px;

    @media screen and (max-width: $tablet_end) {
      position: initial;
      margin-left: auto;
      height: 36px !important;
    }
  }

  &__sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: $GREEN;
    transform: translateX(-100%);
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
    opacity: 0;
    @media screen and (max-width: $tablet_end) {
      display: flex;
    }
    gap: 50px;

    &__top-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &__logo {
      fill: $IVORY;
    }

    &__links {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
    }

    &__link {
      color: rgba($IVORY, .60);
      transition: $TRANSITION;

      &:hover {
        color: $IVORY;
      }
    }

    &__button {
      width: max-content;
      background-color: $IVORY !important;
      color: $GREEN !important;
    }
  }
}

.link {
  font-family: 'Stratos LC Bold', sans-serif;
  font-style: normal;
  font-weight: 700;
  @extend .adaptive_24px;

  line-height: 125%;
  text-align: center;
  letter-spacing: 0.1em;
  text-decoration-line: underline;
  text-transform: uppercase;
  text-underline-offset: 7px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  @media screen and (max-width: $notebook) {
    @include adaptive_20px_mixin;
    line-height: 110%;
  }
  @media screen and (max-width: $tablet) {
    @include adaptive_18px_mixin;
  }
}
