.articles-slider-screen {
  max-width: $notebook_start;
  margin: 0 auto;

  &__wrapper {
    width: 100%;
    overflow: hidden;
    height:100%;
  }

  &__slider {
    overflow: visible;
    .swiper-slide{
      height: auto;
    }
    &__item {
      padding: 0 22px;
      border-right: 2px solid $GREEN;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: space-between;
      width: 582px;
      color: $GREEN;
      gap: 48px;
      cursor: pointer;
      text-decoration: none;

      &:first-of-type {
        border-left: 2px solid $GREEN;
      }

      @media screen and (max-width: $notebook_start) {
        padding: 0 auto-calculate($notebook_start, $phone, 22px, 11px);
        gap: auto-calculate($notebook_start, $phone, 48px, 24px);
      }

      @media screen and (max-width: $phone) {
        padding: 0 11px;
        gap: 24px;
      }

      &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 16px;
      }

      &__title {

        &:hover{
          text-decoration: underline;
        }
      }

      &__image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        @media screen and (max-width: $notebook_start) {
          width: auto-calculate($notebook_start, $phone, 150px, 75px);
          height: auto-calculate($notebook_start, $phone, 150px, 75px);
        }
        @media screen and (max-width: $phone) {
          width: 75px;
          height: 75px;
        }

      }
    }
  }
}
