.cases-detail-slider-screen {
  width: 100%;
  max-width: $notebook_start;

  &__slider {
    overflow: visible;
    padding-right: calc(100% - 335px);
    height: 615px;
    @media screen and (max-width: $tablet_start) {
      padding-right: 0;
      height: auto;
      .swiper-slide {
        height: auto;
      }
    }


    &__item {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      height: 100%;
      width: 335px;
      gap: 7.2%;
      @media screen and (max-width: $tablet_start) {
        gap: 10px;
        flex-direction: column;
      }
      transition: width $TRANSITION_SLIDERS;
      color: $GREEN;


      &__pre {
        flex-shrink: 0;
        flex-grow: 0;
      }

      &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        flex-grow: 1;
        height: 100%;
        gap: 10px;
      }

      &__image {
        display: block;
        width: 100%;
        max-width: 210px;
        object-fit: contain;
        transition: $TRANSITION_SLIDERS;
        @media screen and (max-width: $tablet_start) {
          max-width: none;
          width: 55% !important;
        }
        @media screen and (max-width: $tablet_end) {
          margin: 0 auto 10px;
        }
      }

      &__info {
        transition: $TRANSITION_SLIDERS;
        width: 0;
        min-width: 0;
        z-index: 2;
        margin: 0;
        opacity: 0;
        visibility: hidden;
        @media screen and (max-width: $tablet_start) {
          margin-left: 10px;
          visibility: visible;
          flex-grow: 1;
          width: 100% !important;
        }
        @media screen and (max-width: $tablet_end) {
          margin: 0;
        }


        &__text {
          margin-bottom: 10px;
          width: 298px;
          @media screen and (max-width: $tablet_start) {
            width: 100%;
          }
        }

        &__button {
          width: 149px;
        }
      }

      &__main {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        flex: 0 0 auto;
        @media screen and (max-width: $tablet_start) {
          justify-content: flex-start;
        }
        @media screen and (max-width: $tablet_end) {
          flex-direction: column;
          align-items: flex-start;
        }
      }

      &__title {
        width: 100%;
        overflow: hidden;
        max-width: 100%;
        flex-grow: 0;
        flex-shrink: 0;
        margin-bottom: 44px;

        &.heading_4 {
          max-width: 560px;

          @media screen and (max-width: $tablet_start) {
            max-width: 100%;
          }
        }

        &.heading_5 {
          max-width: 100%;
        }

        @media screen and (max-width: $tablet_start) {
          @include heading_4_mixin;
        }
      }

      border-right: 2px solid $GREEN;
      padding: 0 20px;

      &:first-of-type {
        padding-left: 0;
      }

      &:last-of-type {
        padding-right: 0;
      }

      &.swiper-slide-active {
        width: 925px;
      }

      &.swiper-slide-active & {
        &__image {
          max-width: 463px;
        }

        &__info {
          width: 298px;
          min-width: 298px;
          margin-left: 20px;
          opacity: 1;
          visibility: visible;
          @media screen and (max-width: $tablet_start) {
            margin-left: 10px;
            width: 100%;
            min-width: auto;
          }
          @media screen and (max-width: $tablet_end) {
            min-width: auto;
            max-width: 100%;
            margin: 0;
          }
        }
      }
    }
  }
}
