.vertical-slider-screen {
  &__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $GREEN;
    color: $IVORY;
    padding-top: 130px;
    padding-bottom: 114px;
    @media screen and (max-width: $notebook_start) {
      padding-top: auto-calculate($notebook_start, $tablet, 130px, 65px);
      padding-bottom: auto-calculate($notebook_start, $tablet, 114px, 57px);
    }
    @media screen and (max-width: $tablet) {
      padding-top: auto-calculate($tablet, $phone_start, 60px, 30px);
      padding-bottom: auto-calculate($tablet, $phone_start, 60px, 30px);

    }
    @media screen and (max-width: $phone_start) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  max-width: $maxwidth;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 87px;
  @media screen and (max-width: $notebook_start) {
    gap: auto-calculate($notebook_start, $tablet, 87px, 43.5px);
  }
  @media screen and (max-width: $tablet) {
    gap: 40px;
  }

  &__header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    @media screen and (max-width: $notebook_start) {
      gap: auto-calculate($notebook_start, $maxwidth, 20px, 10px);
    }
    @media screen and (max-width: $maxwidth) {
      gap: 15px;
    }
    @media screen and (max-width: $maxwidth) {
      flex-direction: column;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 30px;

    &__slider {
      height: 346px;
      overflow: auto;
      padding: 30px 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      scroll-behavior: smooth;

      &__wrapper {
        position: relative;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 30px;
          background: linear-gradient(180deg, $GREEN, rgba($GREEN, 0));
        }

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 30px;
          background: linear-gradient(0deg, $GREEN, rgba($GREEN, 0));
        }
      }

      &__item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        border-bottom: 2px solid $IVORY;

        &:first-of-type {
          border-top: 2px solid $IVORY;
        }

        &__face {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          gap: 16px;
          padding: 24px 0;
          @media screen and (max-width: $notebook_start) {
            padding: auto-calculate($notebook_start, $phone, 24px, 12px) 0;
          }
          @media screen and (max-width: $phone_start) {
            flex-direction: column;
          }
          @media screen and (max-width: $phone) {
            padding: 12px 0;
          }

          &__main {
            grid-gap: 16px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
          }

          &__title {
            width: 550px;
            text-align: left;
            @media screen and (max-width: $tablet) {
              width: auto;
              flex-grow: 1;
            }
          }

          &__button {
            width: 24px;
            height: 24px;
            min-height:24px;
            min-width: 24px;
            padding:0;
            flex-grow: 0;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            border:none;
            &__icon {
              height:100%;
              width:100%;
              fill: $IVORY;
            }
          }

          &__add-button {
            margin-left: auto;
            @include adaptive_20px_mixin;
            color: inherit;
            background-color: transparent;
            outline: none;
            font-family: 'Stratos LC Regular', sans-serif;
            font-style: normal;
            font-weight: 400;
            line-height: 110%;
            text-align: right;
            border: none;
            border-bottom: 2px solid $IVORY;
            opacity: 0.8;
            padding: 0;
            transition: $TRANSITION;

            &.active {
              opacity: 1;
              border-bottom: 2px solid transparent;
            }

            &:hover {
              opacity: 1;
            }
          }
        }

        &__content {
          visibility: hidden;
          overflow: hidden;
          height: 0;
          opacity: 0;
        }
      }
    }

    &__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: $phone_start) {
        gap: 10px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
    }

    &__selected-count {
      &__opacity {
        opacity: .6;
      }
    }
  }
}