.primary-button {
  @extend .caption_1;
  @extend .adaptive_16px;
  @extend .uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
  color: $IVORY;
  background-color: $GREEN;
  border: none;
  padding: 0 20px;
  height: 48px;
  gap: 10px;
  letter-spacing: 0.1em;
  border-radius: 2px;


  @media screen and (max-width: $notebook) {
    padding: 0 17px;
    height: 44px;
  }
  @media screen and (max-width: $tablet) {
    padding: 0 15px;
    height: 40px;
  }
}

.secondary-button {

  @extend .body;

  padding: 18px 32px 16px;
  color: rgba($GREEN, .75);
  border-width: 1.5px;
  border-style: solid;
  border-color: rgba($GREEN, .75);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 2px;
  transition: $TRANSITION;
  @media screen and (max-width: $notebook) {
    padding: 15px 27px 15px;
  }
  @media screen and (max-width: $tablet_start) {
    padding: 15px 25px 15px;
  }
  @media screen and (max-width: $tablet) {
    padding: 14px 22px 14px;
  }

  &:not(:disabled):hover {
    color: $GREEN;
    border-color: $GREEN;
  }

  &:disabled {
    cursor: default;
    color: rgba($GREEN, .30);
    border-color: rgba($GREEN, .30);
  }

  &.alternative {
    color: rgba($IVORY, .60);
    border-color: rgba($IVORY, .80);

    &:not(:disabled):hover {
      color: $IVORY;
      border-color: $IVORY;
    }

    &:disabled {
      color: rgba($IVORY, .60);
      border-color: rgba($IVORY, .60);
    }
  }
}

.tag {
  @extend .adaptive_16px;
  padding: 14px 24px 12px;
  border-radius: 2px;
  border: none;
  font-family: 'Stratos LC Regular', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  transition: $TRANSITION;
  background-color: $UNDER_IVORY;
  color: rgba($BLACK, .60);
  @media screen and (max-width: $notebook) {
    padding: 12px 20px;
  }
  @media screen and (max-width: $tablet_start) {
    padding: 12px 18px;
  }
  @media screen and (max-width: $tablet) {
    padding: 12px 16px;
  }
  @media screen and (max-width: $tablet_end) {
    padding: 8px 13px;
  }

  &:disabled {
    opacity: 0.8;
  }

  &:not(&:disabled, &.unhoverable):hover {
    background-color: rgba($IVORY, .80);
    color: rgba($BLACK, .60);
  }

  &:not(&:disabled, &.active, &.unhoverable):active, &.active {
    background-color: rgba($BLACK, .30);
    color: $IVORY;
  }

  &.active:not(&:disabled, &.unhoverable):active {
    background-color: $UNDER_IVORY;

    color: rgba($BLACK, .60);
  }

  &.alternative {
    background-color: rgba($IVORY, .30);
    color: $IVORY;

    &:not(&:disabled, &.unhoverable):hover {
      background-color: rgba($IVORY, .50);
      color: $IVORY;
    }

    &:not(&:disabled, &.unhoverable):active, &.active {
      background-color: rgba($BLACK, .30);
      color: $IVORY;
    }

    &.active:not(&:disabled, &.unhoverable):active {
      background-color: rgba($IVORY, .30);
      color: $IVORY;
    }
  }
}

.arrow-button {
  border-radius: 90px;
  height: 34px;
  width: 34px;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: $TRANSITION;
  border-width: 2px;
  border-style: solid;
  background-color: transparent;
  padding: 0;
  @media screen and (max-width: $tablet) {
    height: 30px;
    width: 30px;
  }

  border-color: $BLACK;
  fill: $BLACK;
  opacity: .75;

  &.left &__icon {
    transform: rotate(180deg);
  }

  &:disabled {
    opacity: .3;
  }

  &:hover:not(&:disabled) {
    opacity: 1;
  }

  &.green {
    border-color: $GREEN;
    fill: $GREEN;
  }

  &.white {
    border-color: $IVORY;
    fill: $IVORY;
  }

  &__icon {
    height: 100%;
  }
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Stratos LC Regular', sans-serif;
  font-style: normal;
  font-weight: 400;
  @extend .adaptive_16px;
  line-height: 110%;
  min-height: 44px;
  padding: 13px 24px;
  width: max-content;
  border-radius: 25px;
  background-color: $UNDER_IVORY;
  color: rgba($BLACK, .60);

  &.alternative {
    background-color: rgba($IVORY, .80);
    color: $GREEN;
  }
}

.close-button {
  width: max-content;
  height: max-content;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  outline: none;
  opacity: .6;
  transition: $TRANSITION;

  &.green {
    fill: $GREEN;
  }

  &.white {
    fill: $IVORY;
  }

  &:not(:disabled):hover, &:not(:disabled):active {
    opacity: 1;
  }

  &:disabled {
    cursor: default;
    opacity: .3;
  }

  &__icon {
    @media screen and (max-width: $notebook) {
      width: 23px;
      height: 23px;
    }
    @media screen and (max-width: $tablet) {
      width: 20px;
      height: 20px;
    }
    @media screen and (max-width: $phone) {
      width: 17.5px;
      height: 17.5px;
    }
  }
}

.check-arrow {
  transition: $TRANSITION;
  background-color: transparent;
  border: none;
  width: max-content;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  opacity: .75;
  fill: $BLACK;

  * {
    transition: $TRANSITION;
  }

  &__icon {
    transform: rotate(180deg);
  }

  &.rotate &__icon {
    transform: rotate(0deg);
  }

  &:disabled {
    opacity: .3;
  }

  &:hover:not(&:disabled) {
    opacity: 1;
  }

  &.green {
    fill: $GREEN;
  }

  &.white {
    fill: $IVORY;
  }
}
