.secondary-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid $GREEN;
  border-radius: 90px;
  cursor: pointer;
  flex-shrink: 0;
  transition: .1s;

  &__icon {
    fill: $IVORY;
  }

  &.checked {
    background-color: $GREEN;
  }

  &.disabled {
    cursor: default;
  }
}