@mixin gap_case-post {
  gap: 46px;
  @media screen and (max-width: $notebook_start) {
    gap: auto-calculate($notebook_start, $notebook, 46px, 23px)
  }
  @media screen and (max-width: $notebook) {
    gap: auto-calculate($notebook, $phone_start, 25px, 12.5px)
  }
  @media screen and (max-width: $phone_start) {
    gap: 10px;
  }
}

@mixin pres_mixin {
  width: 80px;
  flex-shrink: 0;
  flex-grow: 0;
  @media screen and (max-width: $notebook_start) {
    width: auto-calculate($notebook_start, $notebook, 80px, 40px);
  }
  @media screen and (max-width: $notebook) {
    width: 40px;
  }

}


.case-post {
  background-color: white;
  color: $BLACK;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  gap: 3px;

  &__pre {
    @include pres_mixin;
  }

  @media screen and (max-width: $tablet) {
    width: 100%;
  }

  &__title-block {
    display: flex;
    flex-direction: column;
    @include gap_case-post;
  }

  &__title {
    -webkit-line-clamp: 3;
    line-clamp: 3;
    line-height: initial;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 64px;
    @media screen and (max-width: $notebook_start) {
      gap: auto-calculate($notebook_start, $notebook, 64px, 32px);
    }
    @media screen and (max-width: $notebook) {
      gap: auto-calculate($notebook, $tablet, 32px, 16px);
    }
    @media screen and (max-width: $tablet) {
      gap: 16px;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__image {
    width: 100%;
    object-fit: contain;
    height: auto;
    max-height: 275px;
    @media screen and (max-width: $tablet) {
      margin: auto 0;

      width: 24%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @media screen and (max-width: $phone_start) {
      width: 28%;
    }
  }
}

.theme-post {
  background-color: $BLACK;
  color: $IVORY;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 3px;

  &.green {
    background-color: $GREEN;
  }

  &__pre {
    @include pres_mixin;
  }

  @media screen and (max-width: $tablet) {
    flex-direction: column;
    gap: 11px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
  }
}

.event-post {
  background-color: white;
  color: $BLACK;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  @media screen and (max-width: $tablet) {
    width: 100%;
    gap: 11px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

  }


  &__title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    @media screen and (max-width: $tablet) {
      align-items: flex-start;
    }
  }

  &__tag {
    margin: 0 0 42px;
    @media screen and (max-width: $notebook_start) {
      margin: 0 0 auto-calculate($notebook_start, $tablet, 42px, 21px);
    }
    @media screen and (max-width: $tablet) {
      margin: 0;
    }
  }

  &__pre {
    text-align: center;
    letter-spacing: 0.1em;
  }

  &__title {
    font-family: 'Stratos LC Semibold', sans-serif;
    @media screen and (max-width: $tablet) {
      text-align: left;
    }
  }

  &__image {
    width: 100%;
    object-fit: contain;
    height: auto;
    max-height: 260px;
    @media screen and (max-width: $tablet) {
      margin: auto 0;
      width: 24%;
      max-height: none;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @media screen and (max-width: $phone_start) {
      width: 28%;
    }
  }
}


.post-article {
  width: 100%;
  max-width: 100%;
  background-color: $BLACK;
  display: flex !important;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  text-decoration: none;
  color: $IVORY;
  border-radius: 4px;
  padding: 18px 20px 14px 30px;
  gap: 7px;
  @media screen and (max-width: $notebook_start) {
    padding: auto-calculate($notebook_start, $notebook, 18px, 10px) auto-calculate($notebook_start, $notebook, 20px, 10px) auto-calculate($notebook_start, $notebook, 14px, 10px) auto-calculate($notebook_start, $notebook, 30px, 10px);
    gap: auto-calculate($notebook_start, $notebook, 7px, 5px);
  }
  @media screen and (max-width: $notebook) {
    padding: 10px;
  }

  &__title {
    width: 100%;
    font-family: 'Stratos LC Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    @extend .adaptive_14px;
    line-height: 110%;
  }

  &__image-name {
    margin-top: 21px;
    @media screen and (max-width: $notebook_start) {
      margin-top: auto-calculate($notebook_start, $phone_start, 21px, 9px);
    }
    @media screen and (max-width: $phone_start) {
      margin-top: 9px;
    }
    color: $GREEN;
  }
}
