<div class="filters__wrapper">
    <div class="filters">
        <div class="filters__main">
            <button class="filters__toggle-button caption_1 adaptive_16px">Фильтры
                @@include('../buttons/_check-arrow.html', {class:'filters__toggle-button__check'})
            </button>
        </div>
        <div class="filters__content">
            <div class="filters__content__section">
                <p class="filters__content__section__name body">Тематики:</p>
                <div class="filters__content__section__tags">
                    <button class="filters__content__tag tag">Креативность</button>
                </div>
            </div>
            <div class="filters__content__section">
                <p class="filters__content__section__name body">Категории:</p>
                <div class="filters__content__section__tags">
                    <button class="filters__content__tag tag">Креативность</button>
                </div>
            </div>
        </div>
        <div class="filters__accept">
            <button class="filters__accept__button secondary-button">Применить</button>
        </div>
    </div>
</div>

