<header class="navigation__wrapper standart-padding-both @@class">
    <div class="navigation">
        <div class="navigation__menu">
            <button class='navigation__menu__button link'>Меню</button>
            <nav class="navigation__menu__links">
                <a href="/" class="navigation__menu__link link">Главная</a>
                <a href="/post.html" class="navigation__menu__link link">Пост</a>
                <a href="/post2.html" class="navigation__menu__link link">Пост (2-ая версия)</a>
                <a href="/theme.html" class="navigation__menu__link link">Тема</a>
                <a href="/team.html" class="navigation__menu__link link">Команда</a>
                <a href="/resume.html" class="navigation__menu__link link">Резюме</a>
                <a href="/products.html" class="navigation__menu__link link">Продукты</a>
            </nav>
        </div>
        <button class="navigation__button primary-button">Связаться с нами</button>
    </div>
</header>

