<header class="navigation__wrapper standart-padding-both @@class">
    <div class="navigation">
        <div class="navigation__menu">
            <button class='navigation__menu__button link'>Меню</button>
            <nav class="navigation__menu__links">
                <a href="/" class="navigation__menu__link link">Главная</a>
                <a href="/products.html" class="navigation__menu__link link">Продукты</a>
                <a href="/product.html" class="navigation__menu__link link">Продукт</a>
                <a href="/post.html" class="navigation__menu__link link">Пост</a>
                <a href="/post2.html" class="navigation__menu__link link">Пост (2-ая версия)</a>
                <a href="/post3.html" class="navigation__menu__link link">Пост (3-ья версия)</a>
                <a href="/theme.html" class="navigation__menu__link link">Тема</a>
                <a href="/team.html" class="navigation__menu__link link">Команда</a>
            </nav>
        </div>
        <button class="navigation__button primary-button">Связаться с нами</button>
    </div>

    <div class="navigation__sidebar">
        <div class="navigation__sidebar__top-row">
            <svg  width='50' height='18' class="navigation__sidebar__logo">
                <use xlink:href="@svgSprite#logo"></use>
            </svg>
            @@include('../buttons/_close.html', {class: 'navigation__sidebar__close-button white'})
        </div>
        <div class="navigation__sidebar__links">
            <a href="/" class="navigation__sidebar__link link">Главная</a>
            <a href="/products.html" class="navigation__sidebar__link link">Продукты</a>
            <a href="/product.html" class="navigation__sidebar__link link">Продукт</a>
            <a href="/post.html" class="navigation__sidebar__link link">Пост</a>
            <a href="/post2.html" class="navigation__sidebar__link link">Пост (2-ая версия)</a>
            <a href="/post3.html" class="navigation__sidebar__link link">Пост (3-ья версия)</a>
            <a href="/theme.html" class="navigation__sidebar__link link">Тема</a>
            <a href="/team.html" class="navigation__sidebar__link link">Команда</a>
        </div>

        <button class="navigation__sidebar__button white primary-button">Связаться с нами</button>

    </div>
</header>

