
.theme-page {
  width: 100%;

  &__formats-screen {
    &__wrapper {
      width: 100%;
      max-width: $notebook_start;
      margin: 0 auto;
    }
  }

  &__cases-detail-slider-screen {
    &__wrapper {
      width: 100%;
      color: $GREEN;
      overflow: hidden;
    }

    max-width: $notebook_start;
    margin: 0 auto;

    &__title {
      text-align: center;
      margin: 0 0 55px;
      padding-top: 20px;
      @media screen and (max-width: $notebook_start) {
        margin: 0 0 auto-calculate($notebook_start, $tablet, 55px, 27.5px);
      }
      @media screen and (max-width: $tablet) {
        margin: 0 0 auto-calculate($tablet, $phone_start, 27.5px, 15px);
      }
      @media screen and (max-width: $phone_start) {
        margin: 0 0 15px;
      }
    }
  }

  &__blog-screen {
    &__wrapper {
      width: 100%;
      overflow: hidden;
    }

    &__title {
      text-align: center;
      margin: 100px 0 10px;
      color: $GREEN;
      @media screen and (max-width: $notebook_start) {
        margin: auto-calculate($notebook_start, $tablet, 100px, 50px) 0 10px;
      }
      @media screen and (max-width: $tablet) {
        margin: auto-calculate($tablet, $phone_start, 50px, 25px) 0 10px;
      }
      @media screen and (max-width: $phone_start) {
        margin: 25px 15px;
      }
    }
  }

  &__form {
    margin: 152px 0 92px;
    @media screen and (max-width: $notebook_start) {
      margin: auto-calculate($notebook_start, $tablet, 152px, 76px) 0 auto-calculate($notebook_start, $tablet, 92px, 48px);
    }
    @media screen and (max-width: $tablet) {
      margin: auto-calculate($tablet, $phone_start, 76px, 38px) 0 auto-calculate($notebook_start, $tablet, 48px, 24px);
    }
    @media screen and (max-width: $phone_start) {
      margin: 38px 0 25px;
    }
  }
}