.main-screen {
  width: 100%;
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: max-content;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &__wrapper {
      position: sticky;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      max-width: $notebook_start;
    }
  }

  &__cross {
    margin-left: 40px;
    opacity: 0;
    transform: translateY(-40px);
    @media screen and (max-width: $notebook_start) {
      width: calc(100vw * (140 / 1440));
      height: calc(100vw * (140 / 1440));
      margin-left: calc(100vw * (40 / 1440));
    }
  }

  .heading_1 {
    color: $GREEN;
    opacity: 0;
    transform: translateY(40px);
    @media screen and (max-width: $notebook_start) {
      font-size: calc(100vw * (210 / 1440));
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  &__card {
    position: fixed;
    top: 0;
    left: 0;
  }

  &__additional-text {
    transform: translateX(5vw);
    opacity: 0;
    margin-left: 30px;
    color: $GREEN;
    margin-top: 21.5px;
    align-self: baseline;
    line-height: 135%;
    @media screen and (max-width: $notebook_start) {
      font-size: calc(100vw * (13 / 1440));
      margin-left: calc(100vw * (30 / 1440));
      margin-top: calc(100vw * (21.5 / 1440));
    }
    @media screen and (max-width: $notebook) {
      font-size: 10px;
      line-height: 110%;
    }
  }

  &__overlay-sections {
    position: relative;
    width: 100%;
    max-width: $notebook_start;
    margin-bottom: 100vh;
    z-index: 2;

    &__item {
      height: 100vh;
      position: relative;

      &:nth-of-type(1) {
        .card {
          top: 0;
          left: 5%;
        }
      }

      &:nth-of-type(2) {
        .card:nth-child(1) {
          top: calc((208 / 850) * 100%);
          right: 5%;
        }

        .card:nth-child(2) {
          top: calc((490 / 850) * 100%);
          left: 5%;
        }
      }

      &:nth-of-type(3) {
        .card {
          top: calc((482 / 850) * 100%);
          right: calc((133 / 1440) * 100%);
        }
      }
    }

    &__card {
      position: absolute;
      @media screen and (max-width: $tablet_end) {
        left: 50% !important;
        transform: translateX(-50%) !important;
        right: auto;
      }
    }
  }

}