.text-with-slider-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  gap: 94px;
  color: $GREEN;
  margin: 129px 0 107px;
  @media screen and (max-width: $notebook_start) {
    gap: auto-calculate($notebook_start, $tablet, 94px, 47px);
    margin: auto-calculate($notebook_start, $tablet, 129px, 64.5px) 0 auto-calculate($notebook_start, $tablet, 107px, 53.5px);
  }
  @media screen and (max-width: $tablet) {
    gap: auto-calculate($tablet, $phone_start, 46px, 23px);
    margin: auto-calculate($notebook_start, $tablet, 62px, 32px) 0 auto-calculate($notebook_start, $tablet, 54px, 27px);
  }
  @media screen and (max-width: $phone_start) {
    gap: 23px;
    margin: 35px 0;
  }


  &__text {
    max-width: $notebook_start;

  }
}