.theme-dogs-screen {
  position: relative;
  width: 100%;
  overflow: hidden;

  &__image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    transform: translateX(calc((140 / 1440) * 100%));
  }

  &__content {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $GREEN;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $IVORY;
  }

  &__title {
    width: max-content;
    text-align: center;
    @media screen and (max-width: $notebook_start) {
      font-size: calc((72 / 1440) * 100vw) !important;
    }
    @media screen and (max-width: $tablet) {
      font-size: calc((90 / 1440) * 100vw) !important;

    }
  }
}