@import 'node_modules/swiper/swiper.scss';
$IVORY: #F8F8F4;
$BLACK: #000000;
$GREEN: rgba(45, 171, 73, 1);
$GREEN_GRADIENT: linear-gradient(180deg, rgba(45, 171, 73, 0) 0%, #2DAB49 100%);
$RED: #da1313;

$TRANSITION: .3s;
$TRANSITION_SLIDERS: .5s;

$maxwidth: 1240px;
$notebook_start: 1440px;
$notebook: 1024px;
$tablet_start: 992px;
$tablet: 768px;
$tablet_end: 620px;
$phone_start: 550px;
$phone: 425px;
$phone_end: 375px;

$navigation_z: 100;
$modal_z: 200;

@function auto-calculate($start_width, $end_width, $max_value, $min_value) {
  @return calc((100vw - $end_width) / (($start_width - $end_width) / ($max_value - $min_value)) + ($max_value - $min_value));
}